/* font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Passions Conflict', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Reem Kufi Ink', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: 'adelia';
    src: url('../font/adelia.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Alexandra';
    src: url('../font/Alexandra.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Thank_you';
    src: url('../font/Thank\ you.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    height: 100vh;
    background-image: url("fondo3.jpg");
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
  background-size: 25rem;
  background-repeat: repeat;
  background-position: center center;
  
  color: #000;
    
}
a,li {
    text-decoration: none; 
}
.header {
    /* background: url(../img/miloacc-50.JPG); */
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu {
        background: rgba(67, 64, 64, 0.3);
        padding: 0 15px;
        display: flex;
        flex-flow: row;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
        .logo-img {
            padding: 0.8vh;
            height: 10vh;
        }

        .nav-header {
            flex: grow 2;
        }
        .nav-header ul {
            display:flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        .nav-header ul li {
            flex: 5 1 auto;
            text-align: center;
            list-style: none;
        }
            .nav-header ul li a {
                color:#ffffff;
                font-size: 0.75em;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .nav-header ul li a:hover {
                color: rgb(141, 217, 234); 
                font-weight: bolder;
                text-shadow: black 0.1em 0.1em 0.2em
            }
            .nav-header ul li ul {
                display:none;
                position: absolute;
                width: fit-content;
                min-height: fit-content;
                font-size: 0.8em;
                padding: 5vh 0;
                margin-left: -0.2px;
            }
            .nav-header ul li ul li {
                padding: 10px 7px;
                text-align: left;
                background: rgba(131, 126, 126, 0.3);
            }
            .nav-header li:hover > ul {
                 display:block; 
               
                flex-direction: row;
                border-bottom: 1px solid rgba(255, 255, 255, 0.237);
            }
/* ************************************************************************************** */
/* **************    estilos del main  ************************************************** */
.main-h2 {
    display:block;
    color:#1e1717;
    font-size: 2.5em;
    margin: 40px 0;
    text-shadow:none;
    font-weight: 400;
    text-align: center;
    font-family: 'Thank_you';
}

.contacto-section1 {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 62vh;
    margin-top: 20px;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

figure.snip1477 {
    /* font-family: 'Raleway', Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    /* min-width: 230px; */
   
    max-width: 400px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}
figure.snip1477 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
}
figure.snip1477 .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}
figure.snip1477 .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
figure.snip1477 .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}
figure.snip1477 .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
figure.snip1477 .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
    margin: 0;
    text-transform: uppercase;
}
figure.snip1477 h2 {
    font-weight: 400;
}
figure.snip1477 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #3e3838;
}
figure.snip1477 figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 1em;
    /* font-size: 0.8em; */
    font-weight: 500;
    letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
    margin: 0;
}
figure.snip1477 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


            
.footer {
    background: rgba(67, 64, 64, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 3vh;;
}
    .subtitulo{
        font-size: 0.9em;
        width: 80%;
    }
    .subtitulo span {
        font-family: adelia;
        font-size: 1em;
    }
    .social {
        display: flex;
    }
        .social a{
            flex: 1 1 auto;
            font-size: 1.5em;
            color:#6e43ee;
            padding: 0 10px;
        }
        .social a:hover {
            color: rgb(97, 206, 231); 
            font-weight: bolder;
            text-shadow: black 0.1em 0.1em 0.2em
        }
        
    

 /* MEDIA QUERY  */
@media all and (max-width: 1120px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column nowrap;
        height: auto;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
}

@media all and (max-width: 950px) {
    .nav-header ul li {
        flex-direction: row;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .form-Newsletter {
        width: 50%;
    }
}@media all and (max-width: 878px) {
    
    .nav-header ul li a i {
        display:none;
    }
    .nav-header ul li ul {
        padding: 5vh 0;
    }
    .nav-header ul li ul li {
        padding: 5px 1px;
        text-align: left;
        background: rgba(131, 126, 126, 0.3);
    }
}
@media all and (max-width: 750px) {
    .menu {
        flex-direction: column;
        height: auto;
    }
    .articulos {
        flex-direction: column;
    }
    .off {
        display: none;
    }
    .nav a {
        font-size: 20px;
    }
    .nav-header ul li ul {
        display:none;
        position: absolute;
        width: fit-content;
        padding: 5px;
    }
    .nav-header ul li a i {
        display:flex;
        justify-content: center;
        padding: 0 3vh;
        font-size: 1.5em;
    }
    .nav-header ul li ul li {
        padding: 2px;
        text-align: left;
        font-size: 1em;
    }
    
    .form-Newsletter {
        width: 60%;
    }
    .fieldset-Newsletter input.envio-Newsletter  {
        width:50%;
    }  
}

@media all and (max-width: 600px) {
    .aside {
        flex-direction: column;
    }
    .form-Newsletter {
        width: 80%;
    }
    .fieldset-Newsletter input.envio-Newsletter  {
        width:35%;
    }            
}